.cont {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: 150px;
    background-color: violet;
  }

.btn {
    margin: 5px;
    padding: 0.75rem 2rem;
    line-height: 1;
    border-radius: 1.875rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    border: 1px solid transparent;
    color: #fff;
    display: inline-block;
    background: var(--first-color);
    font-weight: var(--font-bold);
}

@keyframes button-push {
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.btn:hover {
    animation: button-push 0.3s linear 1;
}

  .cont2 {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: 150px;
    background-color: yellow;
  }